@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

.box {
	height: 80px;
	padding: 24px 120px 27px 97px;
}

.navbar-padding {
	padding: 0 24px;
}

.navbar-img {
	padding-top: 2px;
}

.navbar-text {
	font-size: 12px;
	line-height: 30px;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	font-family: Montserrat;
}

.line {
	width: 1px;
	height: 25px;
	background-color: #fff;
	padding-top: 6px;
}

.main-banner {
	width: 1920px;
	height: 1000px;
	object-fit: contain;
	margin: -104px 0 0;
}
